div.amazon-search-form-wrapper{
    width: 100%;
    margin-bottom: 25px;
}

div.amazon-search-form-wrapper h2{
    margin-top: 0;
}

div.amazon-search-form-wrapper input[type="text"]:not(#amazon_search_exclude_tag){
    min-width: 100%;
}

div.amazon-search-form-wrapper div.tagsinput{
    width: 100% !important;
    box-sizing: border-box;
}

div.amazon-search-form-wrapper div.box-wrapper{
    display: inline-block;
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;

    padding: 15px;
    box-sizing: border-box;
}

div.amazon-search-form-wrapper div.box-wrapper.left,
div.amazon-search-form-wrapper div.box-wrapper.right{
    width: calc(50% - 5px);
    vertical-align: top;
}

div.amazon-search-form-wrapper div.box-wrapper.bottom{
    margin-top: 10px;
}

div.amazon-search-form-wrapper div.left{
    margin-right: 5px;
}
div.amazon-search-form-wrapper div.right{
    margin-left: 5px;
}

div.amazon-search-form-wrapper div.table-wrapper.schedules{
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
    margin-right: 5px;
}

div.amazon-search-form-wrapper div.table-wrapper.schedules + div.table-wrapper.schedules{
    margin-top: 0;
    margin-left: 5px;
    margin-right: 0;
}

div.amazon-search-form-wrapper div.table-wrapper + div.table-wrapper{
    margin-top: 25px;
}

div.amazon-search-form-wrapper div.table-wrapper table#ascl-log-table{
    width: 100% !important;
    margin: 20px 0;
    position: relative;
    top: 10px;
}

div.amazon-search-form-wrapper div.table-wrapper table#ascl-log-table th,
div.amazon-search-form-wrapper div.table-wrapper table#ascl-log-table td{
    text-align: center;
}

div.amazon-search-form-wrapper div.table-wrapper div#ascl-log-table_processing{
    padding-top: 15px !important;
    z-index: 1000;
}

div.amazon-search-form-wrapper table.table{
    width:100%;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3)
}

div.amazon-search-form-wrapper table.table th,
div.amazon-search-form-wrapper table.table td{
    text-align: left;
    padding: 5px 5px 5px 15px;
    border-bottom: 1px solid #ededed;
}

div.amazon-search-form-wrapper table.table td.empty{
    text-align: center;
}

div.amazon-search-form-wrapper table.table tr:last-of-type td{
    border-bottom: none;
}

div.amazon-search-form-wrapper table.table tr:hover td{
    background: #fafafa;
}
div.amazon-search-form-wrapper table.table th.table-title{
    text-align: center;
    border-bottom: 2px solid #ededed;
}

div.amazon-search-form-wrapper table.table th.table-title span{
    display: inline-block;
    padding-top: 4px;
}
div.amazon-search-form-wrapper table.table th.table-title button,
div.amazon-search-form-wrapper table.table th.table-title a.button{
    float: right;
}
div.amazon-search-form-wrapper .text-right{
    text-align: right !important;
}

table.cron-form th,
table.cron-form td{
    padding: 15px 10px 15px 0;
}

table.last-run-stats{
    margin-top: 12px;
}

div.amazon-interval-modal{
    display: none;
    left: 12px;
    right: 12px;
}
div.amazon-interval-modal div.form-wrapper{
    padding: 0 17px 10px;
}

div.amazon-interval-modal div.form-wrapper table.interval-form input{
    width: 100%;
}

div.amazon-interval-modal div.form-wrapper td.message-container{
    padding: 0 10px 0 0;
}

div.amazon-interval-modal div.form-wrapper td.message-container span.message{
    padding: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}

div.amazon-interval-modal div.form-wrapper td.message-container span.message + span.message{
    margin-top: 10px;
}

div.amazon-interval-modal div.form-wrapper td.message-container span.error{
    background: #ffdfdf;
    color: #f55753;
}

div.amazon-interval-modal div.form-wrapper td.message-container span.success{
    background: #E7F6DE;
    color: #2ED16D;
}

div.box-wrapper.left p.submit{
    float: left;
    padding-top: 0;
}

div.box-wrapper.left p.submit a + a{
    margin-left: 10px;
}

div.box-wrapper.left p.submit + p.submit{
    float: right;
    padding-right: 10px;
}

@media only screen and (max-width: 782px){
    div.amazon-search-form-wrapper table.form-table.cron-form th,
    div.amazon-search-form-wrapper table.form-table.cron-form td{
        display: table-cell;
    }

    div.amazon-search-form-wrapper table.form-table.cron-form th{
        padding-top: 0;
    }
}

@media only screen and (max-width: 768px){
    div.amazon-search-form-wrapper div.box-wrapper.left,
    div.amazon-search-form-wrapper div.box-wrapper.right{
        width: 100%;
        margin-left: 0;
        margin-right:0;
        min-height: 0 !important;
    }

    div.amazon-search-form-wrapper div.left{
        margin-bottom: 10px;
    }

    div.amazon-search-form-wrapper div.table-wrapper.schedules{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    div.amazon-search-form-wrapper div.table-wrapper.schedules + div.table-wrapper.schedules{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}